@import url('https://fonts.googleapis.com/css?family=Amaranth');
body,
html {
 font-family: 'Amaranth', sans-serif;
      background-color: #d3d3d3;
}

    /**Dimensiones del logo del banner**/
#brand-image {
    margin-bottom: 0px;
    margin-top: 0px;
    max-height: 50px;
}
/**. navbar es el contenedor del banner**/
.navbar{
    position: relative;
    min-height: 30px;
    margin-bottom: 20px; 
    border-bottom: 1px solid #A4A4A4;
}

.navbar-left
{
             border: none;/*elimina el borde del form del banner*/   
}
/**Menú de las categorías**/
.navbar-inverse {
    border: 1px solid #585858;
    margin-top: 0px;
    background-color: #58FAF4;
   
}

    /**Estos padding elimina el espacio del menú entre entre las letras y los bordes del menú, elimina el heigth**/
.navbar-nav>li>a {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    line-height: 20px;
}

.navbar-inverse .navbar-nav>.open>a {
    /**background es el color del tab del menú de categorias**/
    background: linear-gradient(to top, #58FAF4, #F2F500);
    /**color del tab del men**/
    color: #003896;
}

.navbar-inverse .navbar-nav>li>a {
    color: #190707;
    /**color inverso del titulo**/
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #FFFF;
    /**inverse of the tittle**/
}

.navbar-inverse .navbar-nav>li:hover {
    background: linear-gradient(to top, #81DAF5, #81DAF5);
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 15px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu>li>ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu>li>ul>li {
    list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
    display: block;
    color: #222;
    /**sub-category**/
    padding: 3px 5px;
}

.mega-dropdown-menu>li ul>li>a:hover,
.mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 14px;
    color: #0000FF;
    /**cotegory+*/
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;
}

.left.carousel-control {
    right: 30px;
    left: inherit;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}

/**Edita las dimensiones de la foto de usuario**/
.profile-img {
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    background: url(/img/file.jpg) 50% 50% no-repeat;
    /* 50% 50% centra la imagen */
    background-size: auto 100%;
    /* Interchange this value depending on prefering width vs. height */
    width: 30px;
    height: 30px;
}
#profile {
    margin-left: 5%;
}
#radius{
    border-radius: 0px;
}
/*Finaliza el menu*/
/*Inicia la parte del contenido*/
/*Inicia diseño del div con bordes sombreados*/
.container{
    margin-top: 0px;
}
/*sub contenedor donde es el padre de los componentes*/
.card
{

    background-color: #fff;
    border-radius: 4px;
    border-bottom: 1px solid #A4A4A4;
     -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
	box-shadow: 0 0 3px 3px #888;
    border-radius:2px;
     margin-top: 10px;
     padding: 3em;
     line-height: 1.5em; 
}

/*borde de las imagenes*/
.tab-content, .second-img{
     border: 1px solid #585858;
}
/*larco y ancho de los selects*/
#select-cb, #option-select, #elect-category-form{
    max-width: 10px;
    margin-top: 20px;
}

/*Diseño y posicion de las imagenes de muestra*/
.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

/*ver foto seleccinada*/
.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

/*Diseño para las fotos de muestra*/
.preview-thumbnail.nav-tabs 
{
  border: none;
  margin-top: 15px;
}
.preview-thumbnail.nav-tabs li 
{
    width: 18%;
    margin-right: 2.5%; 
}
.preview-thumbnail.nav-tabs li img 
{
      max-width: 100%;
      display: block; 
}
.preview-thumbnail.nav-tabs li a 
{
      padding: 0;
      margin: 0;
}
.preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0;
}

/*contenedor que muestra la imagen seleccionada*/
.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }


/*animacines al seleccionar*/
@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

/*div de los detalles del producto*/
.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

/*span para los coloes del procuto*/
.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

/*diseño para todos los componentes del producto*/
.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

/*diseño de span del precio*/
.checked, .price span 
{
  color: #ff9f1a; 
}

/*Diseño para los titulos y descripcion del producto*/
.product-title, .rating, .product-description, .price, .vote, .sizes 
{
  margin-bottom: 15px;
}
/*titulos del producto*/
.product-title 
{
  margin-top: 0; 
}
/*tamaño de tallas del producto*/
.size {
  margin-right: 10px; 
}
/*margen del label a las tallas*/
.size:first-of-type
{
    margin-left: 40px; 
}

/*diseño para los colores del procuto*/
.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}
/*margin-left entre el label y el span de los colores del procto*/
.color:first-of-type
{
    margin-left: 20px; 
}
/*boton de comprar*/
.add-to-cart, .like {
    margin-top: 10px;
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease;
}
  .add-to-cart:hover, .like:hover 
{
    background: #b36800;
    color: #fff;
}

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

/*color naranja para el color del producto*/
.orange 
{
  background: #ff9f1a;
}
/*color verde para el color del producto*/
.green 
{
  background: #85ad00; 
}
/*color azul para el color del producto*/
.blue 
{
  background: #0076ad;
}

.tooltip-inner
{
  padding: 1.3em; 
}
/*efectos de trancion para seleccinar y mostrar una imagen*/
@-webkit-keyframes opacity 
{
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } 
}

@keyframes opacity 
{
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } 
}
#div-btn-comprar{
    margin-top: 10px;
    width: 200px;
}
/**Finaliza el contenido**/
/**Inica el pie de página**/
/*footer*/
/*div de la imagenes de redes sociales*/
.footer-bottom-layout 
{
    background: #222222 none repeat scroll 0 0;
    padding: 20px 0;
    text-align: center;
    text-align: center;
}

/*caja que contiene las imagnes de las redes socales*/
.socialMedia-footer
{
    margin-bottom: 20px;
}

/*imgs*/
.socialMedia-footer>a 
{
    display: inline-block;
    margin: 0 8px;
}

/*margin-botton del footer*/
.footer-top-layout
{
    border-top: 1px solid #A4A4A4;
    margin-top: 40px;
    background: #FFF none repeat scroll 0 0;
    color: #ffffff;
    padding: 40px 0;
}

/*Primer contenedor del footer"Nuestra infromacion"*/
.mi-informacion 
{
    margin-bottom: 32px;
    text-align: center;
}
/*titulos del la informacin del footer*/
.footer-top-layout h4 
{
       color: #ffffff;
       font-size: 18px;
       margin-bottom: 21px;
}
/*sub-titulo del primer contenedor del footer"Nuestra infromacion"**/
.mi-informacion>p 
{
       color: #888888;
}
/*lineas del primer contenedor del footer "---"*/
.post-blog-date 
{
       padding-bottom: 25px;
       position: relative;
}

/*los tres contenedores de información*/
.footer-top-layout [class*="col-sm-"]
{
    border-right: 2px solid #333333;
    padding: 0 0 0 28px;
}


/*Ancho entre cada uno de los 3 div del footer*/
.footer-col-item 
{
      min-height: 140px;
}
/*color de las la información de los tres div del footer*/
address 
{
       color: #545454;
}

/*Elimina la tercer linea divisora de los tres div del footer*/
.footer-top-layout [class*="col-sm-"]:last-child {
    border-right: medium none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 
{
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0;
}
/*titulos de los direccion local, telefono y correos*/
.footer-top-layout h4 
{
         color: #070B19;
         font-size: 18px;
         margin-bottom: 21px;
}