.container{
margin-top: 0px;
}
/*sub contenedor donde es el padre de los componentes*/
.card
{
background-color: #fff;
border-radius: 4px;
border-bottom: 1px solid #A4A4A4;
-moz-box-shadow: 0 0 3px 3px #888;
-webkit-box-shadow: 0 0 3px 3px #888;
box-shadow: 0 0 3px 3px #888;
border-radius:2px;
margin-top: 10px;
padding: 3em;
line-height: 1.5em;
}
/*borde de las imagenes*/
.tab-content, .second-img{
border: 1px solid #585858;
}
/*larco y ancho de los selects*/
#select-cb, #option-select, #elect-category-form{
max-width: 10px;
margin-top: 20px;
}
/*Diseño y posicion de las imagenes de muestra*/
.preview {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column; }
@media screen and (max-width: 996px) {
.preview {
margin-bottom: 20px; } }
/*ver foto seleccinada*/
.preview-pic {
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1; }
/*Diseño para las fotos de muestra*/
.preview-thumbnail.nav-tabs
{
border: none;
margin-top: 15px;
}
.preview-thumbnail.nav-tabs li
{
width: 18%;
margin-right: 2.5%;
}
.preview-thumbnail.nav-tabs li img
{
max-width: 100%;
display: block;
}
.preview-thumbnail.nav-tabs li a
{
padding: 0;
margin: 0;
}
.preview-thumbnail.nav-tabs li:last-of-type {
margin-right: 0;
}
/*contenedor que muestra la imagen seleccionada*/
.tab-content {
overflow: hidden; }
.tab-content img {
width: 100%;
-webkit-animation-name: opacity;
animation-name: opacity;
-webkit-animation-duration: .3s;
animation-duration: .3s; }
/*animacines al seleccionar*/
@media screen and (min-width: 997px) {
.wrapper {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex; } }
/*div de los detalles del producto*/
.details {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column; }
/*span para los coloes del procuto*/
.colors {
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1; }
/*diseño para todos los componentes del producto*/
.product-title, .price, .sizes, .colors {
text-transform: UPPERCASE;
font-weight: bold; }
/*diseño de span del precio*/
.checked, .price span
{
color: #ff9f1a;
}
/*Diseño para los titulos y descripcion del producto*/
.product-title, .rating, .product-description, .price, .vote, .sizes
{
margin-bottom: 15px;
}
/*titulos del producto*/
.product-title
{
margin-top: 0;
}
/*tamaño de tallas del producto*/
.size {
margin-right: 10px;
}
/*margen del label a las tallas*/
.size:first-of-type
{
margin-left: 40px;
}
/*diseño para los colores del procuto*/
.color {
display: inline-block;
vertical-align: middle;
margin-right: 10px;
height: 2em;
width: 2em;
border-radius: 2px;
}
/*margin-left entre el label y el span de los colores del procto*/
.color:first-of-type
{
margin-left: 20px;
}
/*boton de comprar*/
.add-to-cart, .like {
margin-top: 10px;
background: #ff9f1a;
padding: 1.2em 1.5em;
border: none;
text-transform: UPPERCASE;
font-weight: bold;
color: #fff;
-webkit-transition: background .3s ease;
transition: background .3s ease;
}
.add-to-cart:hover, .like:hover
{
background: #b36800;
color: #fff;
}
.not-available {
text-align: center;
line-height: 2em; }
.not-available:before {
font-family: fontawesome;
content: "\f00d";
color: #fff; }
/*color naranja para el color del producto*/
.orange
{
background: #ff9f1a;
}
/*color verde para el color del producto*/
.green
{
background: #85ad00;
}
/*color azul para el color del producto*/
.blue
{
background: #0076ad;
}
.tooltip-inner
{
padding: 1.3em;
}
/*efectos de trancion para seleccinar y mostrar una imagen*/
@-webkit-keyframes opacity
{
0% {
opacity: 0;
-webkit-transform: scale(3);
transform: scale(3); }
100% {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1); }
}
@keyframes opacity
{
0% {
opacity: 0;
-webkit-transform: scale(3);
transform: scale(3);
}
100% {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1); }
}
#div-btn-comprar{
margin-top: 10px;
width: 200px;
}
#main-container{
margin-bottom: 5%;
}