@import url('https://fonts.googleapis.com/css?family=Amaranth');
body,
html {
 font-family: 'Amaranth', sans-serif;
      background-color: #d3d3d3;
}

    /**Dimensiones del logo del banner**/
#brand-image {
    margin-bottom: 0px;
    margin-top: 0px;
    max-height: 50px;
}
/**. navbar es el contenedor del banner**/
.navbar{
    position: relative;
    min-height: 30px;
    margin-bottom: 20px; 
    border-bottom: 1px solid #A4A4A4;
}

.navbar-left
{
             border: none;/*elimina el borde del form del banner*/   
}
/**Menú de las categorías**/
.navbar-inverse {
    border: 1px solid #585858;
    margin-top: 0px;
    background-color: #58FAF4;
   
}

    /**Estos padding elimina el espacio del menú entre entre las letras y los bordes del menú, elimina el heigth**/
.navbar-nav>li>a {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    line-height: 20px;
}

.navbar-inverse .navbar-nav>.open>a {
    /**background es el color del tab del menú de categorias**/
    background: linear-gradient(to top, #58FAF4, #F2F500);
    /**color del tab del men**/
    color: #003896;
}

.navbar-inverse .navbar-nav>li>a {
    color: #190707;
    /**color inverso del titulo**/
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #FFFF;
    /**inverse of the tittle**/
}

.navbar-inverse .navbar-nav>li:hover {
    background: linear-gradient(to top, #81DAF5, #81DAF5);
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 15px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu>li>ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu>li>ul>li {
    list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
    display: block;
    color: #222;
    /**sub-category**/
    padding: 3px 5px;
}

.mega-dropdown-menu>li ul>li>a:hover,
.mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 14px;
    color: #0000FF;
    /**cotegory+*/
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;
}

.left.carousel-control {
    right: 30px;
    left: inherit;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}

/**Edita las dimensiones de la foto de usuario**/
.profile-img {
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    background: url(/img/file.jpg) 50% 50% no-repeat;
    /* 50% 50% centra la imagen */
    background-size: auto 100%;
    /* Interchange this value depending on prefering width vs. height */
    width: 30px;
    height: 30px;
}
#profile {
    margin-left: 5%;
}
#radius{
    border-radius: 0px;
}
/*Finaliza el menu*/
/*Inicia la parte del contenido+/
/**Finaliza el contenido**/
/**Inica el pie de página**/
/*footer*/
/*div de la imagenes de redes sociales*/
.footer-bottom-layout 
{
    background: #222222 none repeat scroll 0 0;
    padding: 20px 0;
    text-align: center;
    text-align: center;
}

/*caja que contiene las imagnes de las redes socales*/
.socialMedia-footer
{
    margin-bottom: 20px;
}

/*imgs*/
.socialMedia-footer>a 
{
    display: inline-block;
    margin: 0 8px;
}

/*margin-botton del footer*/
.footer-top-layout
{
    border-top: 1px solid #A4A4A4;
    margin-top: 40px;
    background: #FFF none repeat scroll 0 0;
    color: #ffffff;
    padding: 40px 0;
}

/*Primer contenedor del footer"Nuestra infromacion"*/
.mi-informacion 
{
    margin-bottom: 32px;
    text-align: center;
}
/*titulos del la informacin del footer*/
.footer-top-layout h4 
{
       color: #ffffff;
       font-size: 18px;
       margin-bottom: 21px;
}
/*sub-titulo del primer contenedor del footer"Nuestra infromacion"**/
.mi-informacion>p 
{
       color: #888888;
}
/*lineas del primer contenedor del footer "---"*/
.post-blog-date 
{
       padding-bottom: 25px;
       position: relative;
}

/*los tres contenedores de información*/
.footer-top-layout [class*="col-sm-"]
{
    border-right: 2px solid #333333;
    padding: 0 0 0 28px;
}


/*Ancho entre cada uno de los 3 div del footer*/
.footer-col-item 
{
      min-height: 140px;
}
/*color de las la información de los tres div del footer*/
address 
{
       color: #545454;
}

/*Elimina la tercer linea divisora de los tres div del footer*/
.footer-top-layout [class*="col-sm-"]:last-child {
    border-right: medium none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 
{

    font-weight: 500;
    line-height: 1.1;
    margin-top: 0;
}
/*titulos de los direccion local, telefono y correos*/
.footer-top-layout h4 
{
         color: #070B19;
         font-size: 18px;
         margin-bottom: 21px;
}