@import url('https://fonts.googleapis.com/css?family=Amaranth');
body,
html {
    font-family: 'Amaranth', sans-serif;
    background-color: #d3d3d3;
    line-height: 1.42857143;
    color: #333333;
    width: 100%;
}
#h2 {
    text-align: center;
}

.navbar-brand {
    width: 70px;
    height: 50px;
    background-size: 50px;
}

#navbar-nav {
    padding-right: 0px!important;
    margin-right: -30px !important;
}

.nav-tabs {
    display: inline-block;
    border-bottom: none;
    padding-top: 15px;
    font-weight: bold;
}
#profile-img{

    background: url(example.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 110%; /* Interchange this value depending on prefering width vs. height */
    width: 90px;
    height: 7.6em !important;
}

.nav-tabs>li>a,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border: none;
    border-radius: 0;
}

.nav-list {
    border-bottom: px solid #eee;
}

.nav-list>li {
    padding: 20px 15px 15px;
}

.nav-list>li:last-child {
    border-right: 0px solid #eee;
}

.nav-list>li>a:hover {
    text-decoration: none;
}

.nav-list>li>a>span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 15px 15px;
    text-align: center;
    width: 100%;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: black;
    background-color: #59b5fa;
}

@media (max-width: 766px) and (min-width: 50px) {
    .div-position {
        width: 50%;
        margin: 0 auto;
    }
    .divider {
        border: none !important;
        list-style: none !important;
        visibility: collapse!important;
    }
    .second-div {
        margin-left: 15% !important;
        margin-right: 15% !important;
    }
    .navbar-form {
        width: 104% !important;
        padding-left: 1% !important;
        padding-right: 1% !important;
        margin-left: 0% !important;
        margin-right: 0%!important;
    }
    #btn-search {
        height: 2em;
    }
    .input-group .input-group-btn div.btn {
        padding: 0%;
    }
    .input-group .input-group-btn div.btn .form-control {
        border: none;
        background-color: transparent;
        height: 100%;
        font-size: 11.5px !important;
        width: 6em !important;
    }
    #btn-search {
        font-size: 100% !important;
    }
    .select {
        width: 5em !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .btn-default {
        height: 28px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .glyphicon-search {
        margin-top: -10px !important;
        padding-top: 0em !important;
        height: 0em;
    }
    #btn-buscar {
        margin-top: 0em !important;
        margin-bottom: em !important;
    }
    #span-buscar {
        display: block;
    }
}

@media (max-width: 3000px) and (min-width: 767px) {
    .navbar-form {
        width: 57% !important;
        padding-left: 0%;
        padding-right: 0% !important;
        margin-left: 2% !important;
        margin-right: 0% !important;
    }
    .input-group .input-group-btn div.btn {
        padding: 0%;
    }
    .input-group .input-group-btn div.btn .form-control {
        border: none;
        background-color: transparent;
        padding-top: 5px !important;
    }
    .select {
        width: 5em !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .div-search,
    .search,
    .navbar-left,
    #btn-search,
    input-group-btn,
    .btn-default {
        height: 30px !important;
    }
    .glyphicon-search {
        margin-top: -10px !important;
        padding-top: 0em !important;
        height: 0em;
    }
    .select {
        padding-top: 0em !important;
        height: 28px !important;
    }
    #span-buscar {
        display: block;
    }
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

#navbar-nav {
    padding-left: 15px;
    font-size: 120%;
    padding-top: 0.5%;
}

.navbar-brand {
    width: 20%;
    margin-bottom: 0;
    height: 50px;
    background-size: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

/**Dimensiones del logo del banner**/

#brand-image {
    margin-bottom: 0px;
    margin-top: 0px;
    max-height: 50px;
}


/**. navbar es el contenedor del banner**/

.navbar {
    position: relative;
    min-height: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #A4A4A4;
}

.navbar-left {
    border: none;
    /*elimina el borde del form del banner*/
}


/**Menú de las categorías**/

.navbar-inverse {
    border: 1px solid #585858;
    margin-top: 0px;
    background-color: #58FAF4;
}

/**Estos padding elimina el espacio del menú entre entre las letras y los bordes del menú, elimina el heigth++++++++++++++++++++++++++++++++++**/

#navbar-nav>li>a {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    line-height: 20px;
}

.navbar-inverse .navbar-nav>.open>a {
    /**background es el color del tab del menú de categorias**/
    background: linear-gradient(to top, #58FAF4, #F2F500);
    /**color del tab del men**/
    color: #003896;
}

.navbar-inverse .navbar-nav>li>a {
    color: #190707;
    /**color inverso del titulo**/
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #FFFF;
    /**inverse of the tittle**/
}

.navbar-inverse .navbar-nav>li:hover {
    background: linear-gradient(to top, #81DAF5, #81DAF5);
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 15px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu>li>ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu>li>ul>li {
    list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
    display: block;
    color: #222;
    /**sub-category**/
    padding: 3px 5px;
}

.mega-dropdown-menu>li ul>li>a:hover,
.mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 14px;
    color: #0000FF;
    /**cotegory+*/
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;
}

.left.carousel-control {
    right: 30px;
    left: inherit;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}
/**Edita las dimensiones de la foto de usuario**/
.profile-img {
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    background: url(/img/file.jpg) 50% 50% no-repeat;
    /* 50% 50% centra la imagen */
    background-size: auto 100%;
    /* Interchange this value depending on prefering width vs. height */
    width: 30px;
    height: 30px;
}

#profile {
    margin-left: 5%;
}

#radius {
    border-radius: 0px;
}
/*Finaliza el menu*/
/*Inicia la parte del contenido*/

a,
button {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

a i.fa,
button i.fa {
    margin: 0 5px;
}

.clickable {
    cursor: pointer;
}

p.lead {
    font-weight: 300;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

#top {
    background: #555555;
    padding: 10px 0;
}

#top .offer {
    color: #fff;
}

#top .offer .btn {
    text-transform: uppercase;
}

@media (max-width: 991px) {
    #top .offer {
        margin-bottom: 10px;
    }
}

@media (max-width: 991px) {
    #top {
        font-size: 12px;
        text-align: center;
    }
}

#top a {
    color: #fff;
}

#top ul.menu {
    padding-top: 5px;
    margin: 0;
    text-align: right;
    font-size: 12px;
    list-style: none;
}

@media (max-width: 991px) {
    #top ul.menu {
        text-align: center;
    }
}

#top ul.menu>li {
    display: inline-block;
}

#top ul.menu>li a {
    color: #eeeeee;
}

#top ul.menu>li+li:before {
    content: "|\00a0";
    padding: 0 5px;
    color: #f7f7f7;
}

#top ul.menu>.active {
    color: #999999;
}

#top #login-modal .modal-header {
    background: #4fbfa8;
}

#top #login-modal .modal-header h4 {
    color: #fff;
}

#top #login-modal a {
    color: #4fbfa8;
}

#top #login-modal p {
    font-weight: 300;
    margin-bottom: 20px;
}

#hot h2 {
    text-transform: uppercase;
    font-size: 36px;
    color: #4fbfa8;
    font-weight: 100;
    text-align: center;
}

#hot .product-slider {
    margin-bottom: 20px;
}

#hot .product-slider:before,
#hot .product-slider:after {
    content: " ";
    display: table;
}

#hot .product-slider:after {
    clear: both;
}

#hot .product-slider .item {
    margin: 0 25px;
    visibility: hidden;
}

#hot .product-slider .owl-controls {
    position: relative;
    top: -30px;
}

#hot .product-slider .owl-controls .owl-buttons {
    display: none;
}

#hot .product-slider .owl-controls .owl-page.active span,
#hot .product-slider .owl-controls.clickable .owl-page:hover span {
    background: #4fbfa8;
}

#advantages {
    text-align: center;
}

#advantages .box .icon {
    position: absolute;
    font-size: 120px;
    width: 100%;
    text-align: center;
    top: -20px;
    left: 0;
    height: 100%;
    float: left;
    color: #eeeeee;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#advantages .box h3 {
    position: relative;
    margin: 0 0 20px;
    font-weight: 300;
    text-transform: uppercase;
    z-index: 2;
}

#advantages .box h3 a:hover {
    text-decoration: none;
}

#advantages .box p {
    position: relative;
    color: #555555;
    z-index: 2;
}

#main-slider {
    margin-bottom: 30px;
    border: solid 1px #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.box.slideshow ul li div,
#main-slider ul li div {
    width: 100%;
}

.box.slideshow .owl-controls,
#main-slider .owl-controls {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.box.slideshow .owl-controls .owl-buttons,
#main-slider .owl-controls .owl-buttons {
    display: none;
}

.box.slideshow .owl-controls .owl-page.active span,
#main-slider .owl-controls .owl-page.active span,
.box.slideshow .owl-controls.clickable .owl-page:hover span,
#main-slider .owl-controls.clickable .owl-page:hover span {
    background: #4fbfa8;
}

.breadcrumb {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.box {
    background: #fff;
    margin: 0 0 30px;
    border: solid 1px #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.box .box-header {
    background: #f7f7f7;
    margin: -20px -20px 20px;
    padding: 20px;
    border-bottom: solid 1px #eeeeee;
}

.box .box-header:before,
.box .box-header:after {
    content: " ";
    display: table;
}

.box .box-header:after {
    clear: both;
}

.box .box-footer {
    background: #f7f7f7;
    margin: 30px -20px -20px;
    padding: 20px;
    border-top: solid 1px #eeeeee;
}

.box .box-footer:before,
.box .box-footer:after {
    content: " ";
    display: table;
}

.box .box-footer:after {
    clear: both;
}

@media (max-width: 991px) {
    .box .box-footer .btn {
        margin-bottom: 20px;
    }
}

.box.slideshow {
    padding: 20px 0 0 0;
    text-align: center;
}

.box.slideshow h3 {
    text-transform: uppercase;
    font-weight: 700;
}

.ribbon {
    position: absolute;
    top: 50px;
    padding-left: 51px;
    z-index: 20;
}

.ribbon .ribbon-background {
    position: absolute;
    top: 0;
    right: 0;
}

.ribbon .theribbon {
    position: relative;
    width: 80px;
    padding: 6px 20px 6px 20px;
    margin: 30px 10px 10px -71px;
    color: #fff;
    background-color: #4fbfa8;
    text-shadow: 0px 1px 2px #bbb;
}

.ribbon .theribbon:before,
.ribbon .theribbon:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}

.ribbon .theribbon:after {
    left: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #2d7b6b #2d7b6b transparent transparent;
}

.ribbon.sale {
    top: 0;
}

.ribbon.new {
    top: 50px;
}

.ribbon.new .theribbon {
    background-color: #5bc0de;
    text-shadow: 0px 1px 2px #bbb;
}

.ribbon.new .theribbon:after {
    border-color: #2390b0 #2390b0 transparent transparent;
}

.ribbon.gift {
    top: 100px;
}

.ribbon.gift .theribbon {
    background-color: #5cb85c;
    text-shadow: 0px 1px 2px #bbb;
}

.ribbon.gift .theribbon:after {
    border-color: #357935 #357935 transparent transparent;
}

#content .product {
    background: #fff;
    border: solid 1px #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
    /* entire container, keeps perspective */
    /* flip speed goes here */
    /* hide back of pane during swap */
    /*  UPDATED! front pane, placed above back */
    /* back, initially hidden pane */
}

#content .product .flip-container {
    cursor: pointer;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media (max-width: 767px) {
    #content .product .flip-container img.img-responsive {
        min-width: 100%;
    }
}

#content .product .flip-container,
#content .product .front,
#content .product .back {
    width: 100%;
}

#content .product .flipper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

#content .product .front,
#content .product .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

#content .product .front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

#content .product .back {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

#content .product:hover .back {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 2;
}

#content .product:hover .front {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 1;
}

#content .product .invisible {
    visibility: hidden;
}

@media (max-width: 767px) {
    #content .product .invisible img.img-responsive {
        min-width: 100%;
    }
}

#content .product .text {
    padding: 10px 10px 0;
}

#content .product .text h3 {
    font-size: 18px;
    font-weight: 700;
    height: 39.6px;
    text-align: center;
    overflow: hidden;
}

#content .product .text h3 a {
    color: #555555;
}

#content .product .text p.price {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
}

#content .product .text p.price del {
    color: #999999;
}

#content #blog-listing .post,
#content #blog-homepage .post {
    margin-bottom: 60px;
    background: #fff;
    margin: 0 0 30px;
    border: solid 1px #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#content #blog-listing .post h2 a,
#content #blog-homepage .post h2 a,
#content #blog-listing .post h4 a,
#content #blog-homepage .post h4 a {
    color: #555555;
}

#content #blog-listing .post h2 a:hover,
#content #blog-homepage .post h2 a:hover,
#content #blog-listing .post h4 a:hover,
#content #blog-homepage .post h4 a:hover {
    color: #4fbfa8;
}

#content #blog-listing .post .author-category,
#content #blog-homepage .post .author-category {
    color: #999999;
    font-weight: 300;
}

#content #blog-listing .post .date-comments a,
#content #blog-homepage .post .date-comments a {
    color: #999999;
    margin-right: 20px;
}

#content #blog-listing .post .date-comments a:hover,
#content #blog-homepage .post .date-comments a:hover {
    color: #4fbfa8;
}

#content #blog-listing .post .intro,
#content #blog-homepage .post .intro {
    text-align: left;
}

#content #blog-listing .post .image,
#content #blog-homepage .post .image {
    margin-bottom: 10px;
    overflow: hidden;
}

#content #blog-listing .post .image img,
#content #blog-homepage .post .image img {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

@media (max-width: 767px) {
    #content #blog-listing .post .image img.img-responsive,
    #content #blog-homepage .post .image img.img-responsive {
        min-width: 100%;
    }
}

#content #blog-listing .post .read-more,
#content #blog-homepage .post .read-more {
    text-align: right;
}

#content #blog-listing .post:hover .image img,
#content #blog-homepage .post:hover .image img {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

#content #blog-homepage .post {
    margin-bottom: 30px;
}

#content #blog-homepage .post h2,
#content #blog-homepage .post h4,
#content #blog-homepage .post .author-category,
#content #blog-homepage .post .read-more {
    text-align: center;
}

#content #blog-homepage .post .intro {
    font-weight: 300;
}

#content #blog-homepage .post .read-more {
    margin-top: 20px;
}

#content #blog-post .author-date {
    color: #999999;
    font-weight: 300;
}

#content #blog-post #post-content {
    margin-bottom: 20px;
}

#content #blog-post .comment {
    margin-bottom: 25px;
}

a {
    color: #4fbfa8;
    text-decoration: none;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.btn-primary {
    color: #ffffff;
    background-color: #4fbfa8;
    border-color: #41b39c;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

/* responsive */
@media (max-width: 767px) {
    .text-center-xs {
        text-align: center !important;
    }
    .text-center-xs img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-center-sm {
        text-align: center !important;
    }
    .text-center-sm img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* type */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

p,
ul,
ol {
    margin: 0 0 20px;
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
}

@media (min-width: 768px) {
    .lead {
        font-size: 21px;
    }
}


/**Finaliza el contenido**/
/**Inica el pie de página**/
/*footer*/
/*div de la imagenes de redes sociales*/

.footer-bottom-layout {
    background: #222222 none repeat scroll 0 0;
    padding: 20px 0;
    text-align: center;
    text-align: center;
}


/*caja que contiene las imagnes de las redes socales*/

.socialMedia-footer {
    margin-bottom: 20px;
}
/*imgs*/
.socialMedia-footer>a {
    display: inline-block;
    margin: 0 8px;
}


/*margin-botton del footer*/

.footer-top-layout {
    border-top: 1px solid #A4A4A4;
    margin-top: 0%;
    background: #FFF none repeat scroll 0 0;
    color: #ffffff;
    padding: 40px 0;
}


/*Primer contenedor del footer"Nuestra infromacion"*/

.mi-informacion {
    margin-bottom: 32px;
    text-align: center;
}


/*titulos del la informacin del footer*/

.footer-top-layout h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 21px;
}


/*sub-titulo del primer contenedor del footer"Nuestra infromacion"**/

.mi-informacion>p {
    color: #888888;
}


/*lineas del primer contenedor del footer "---"*/

.post-blog-date {
    padding-bottom: 25px;
    position: relative;
}


/*los tres contenedores de información*/

.footer-top-layout [class*="col-sm-"] {
    border-right: 2px solid #333333;
    padding: 0 0 0 28px;
}


/*Ancho entre cada uno de los 3 div del footer*/

.footer-col-item {
    min-height: 140px;
}


/*color de las la información de los tres div del footer*/

address {
    color: #545454;
}


/*Elimina la tercer linea divisora de los tres div del footer*/

.footer-top-layout [class*="col-sm-"]:last-child {
    border-right: medium none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0;
}


/*titulos de los direccion local, telefono y correos*/

.footer-top-layout h4 {
    color: #070B19;
    font-size: 18px;
    margin-bottom: 21px;
}
