body {
    font-size: 14px;
    line-height: 1.5;
    /**height of all component of the form**/
    margin: 0;
    background: url("/img/backgraund.gif") repeat;
}

#banner {
    position: absolute;
    margin: 0;
    margin-top: 0px;
    height: 105px;
    background: #fdfefe;
    border-bottom: 2px solid #e8e8e8;
}

#sub_banner {
    margin: 0;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 8px;
    height: 90px;
}

#table_banner {
   max-height: 40px;
}

#h1_logo {
    margin-top: 0;
    width: 80px;
    height: 80px;
}

.td_logo {

    margin-bottom: 0px;
}

#logo_banner {
    margin-top: 0;
    max-width: 80px;
    max-height: 80px;
}

#td_espace_one {
    width: 100px;
}

#logo_banner {
    margin-top: 0;
    width: 100px;
    height: 100px;
}

#td_label {
    width: 99%;
    height: 45px;
    padding: 0;
    border-spacing: 0;
}

#table_banner2 {
    /****/
    border-collapse: collapse;
    border-spacing: 0
}

#textbox {
    border: 1px solid #DBE1EB;
    font-size: 18px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    background: #FFFFFF;
    background: linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
}

#div_combo {
    border: 1px solid #ddd;
    border-left-color: rgb(221, 221, 221);
    border-left-color: #efefef;
    padding: 1 10px;
    height: 40px;
    background: #fff;
    border-radius: 1 3px 3px 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #dfff url(images/bg-select.jpg) no-repeat right;
    padding: 11px;
    margin: 0;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    background: #FFFFFF;
    background: linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
}

#banner_button {
    margin-left: 0;
    margin-right: 0;
    /**margin between main form and dd tag**/
    box-sizing: border-box;
    overflow: hidden;
    left: 0;
    width: 100%;
    /**Lengthen the boot**/
    color: #fff;
    background-image: linear-gradient(-180deg, #34d 0%, #28a745 90%);
    padding: 9px 20px;
    /**Button width and width**/
    line-height: 20px;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 0.25em;
    box-sizing: border-box;
}
