html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    max-width: 1248px;
}

div {
    padding: 0;
    border: 2px;
}

body {
    background: url(/img/backgraud.jpg)
}

#banner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 110px;
    background: #fff;
}

#sub_banner {
    margin-top: 9px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#table_banner {
    
    height: 90px;
    border-collapse: collapse;
    line-height: 1;
    font-size: 14px;
}

tr {
    border-spacing: 0;
}

.td_logo {
    padding: 0;
}

#td_espacin {
    display: block;
    width: 130px;
}

h1 {
    margin: 0;
    display: inline-block;
}

#logo_banner {
    clip: rect(47px, 118px, 95px, 0px);
    top: -47px;
    left: 0;
    width: 100px;
    height: 10dpx;
}

#td_label {
    width: 99%;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

#table_banner2 {
    border-collapse: collapse;
    border-spacing: 0
}

#td_textbox {
    width: 99%;
    vertical-align: middle;
    padding: 0;
}

#textbox {
    font-size: 18px;
    border: 1;
    margin: 0;
    padding: 10px 0 9px 8px;
    width: 100%;
}

#td_combo {
    padding: 0;
}

#div_combo {
    border: 1px solid #ddd;
    border-left-color: rgb(221, 221, 221);
    border-left-color: #efefef;
    padding: 1 10px;
    height: 40px;
    background: #fff;
    border-radius: 1 3px 3px 0;
}

.cb_categoria {
    color: #333;
    font: 12px Arial;
    border-width: 0;
    margin-top: 10px;
    width: 160px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;
    background-position: 0 99px;
    background-size: 250px 200px;
    background-repeat: no-repeat;
    text-transform: none;
}
