@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body,
html {
    height: 100%;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    font-family: 'Oxygen', sans-serif;
}

#brand-image {
    /**Dimensiones del logo del banner**/
    margin-bottom: 0px;
    margin-top: 0px;
    max-height: 50px;
}


/**. navbar es el contenedor del banner**/

.navbar {
    position: relative;
    min-height: 30px;
    margin-bottom: 20px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}


/**Menú de las categorías**/

.navbar-inverse {
    border: 1px solid;
    border-radius: 0px;
    border-color: #D8D8D8 !important;
    margin-top: 0px;
    background-color: #58FAF4;
}

.navbar-nav>li>a {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    /**Estos padding elimina el espacio del menú entre entre las letras y los bordes del menú, elimina el heigth**/
    line-height: 20px;
}

.navbar-inverse .navbar-nav>.open>a {
    /**background es el color del tab del menú**/
    background: linear-gradient(to top, #58FAF4, #F2F500);
    /**color del tab del men**/
    color: #003896;
}

.navbar-inverse .navbar-nav>li>a {
    color: #190707;
    /**inverse of the title**/
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #FFFF;
    /**inverse of the tittle**/
}

.navbar-inverse .navbar-nav>li:hover {
    background: linear-gradient(to top, #81DAF5, #81DAF5);
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 15px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu>li>ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu>li>ul>li {
    list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
    display: block;
    color: #222;
    /**sub-category**/
    padding: 3px 5px;
}

.mega-dropdown-menu>li ul>li>a:hover,
.mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 14px;
    color: #0000FF;
    /**cotegory+*/
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;
}

.left.carousel-control {
    right: 30px;
    left: inherit;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}


/**Edita las dimensiones de la foto de usuario**/

.profile-img {
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    background: url(/img/file.jpg) 50% 50% no-repeat;
    /* 50% 50% centra la imagen */
    background-size: auto 100%;
    /* Interchange this value depending on prefering width vs. height */
    width: 30px;
    height: 30px;
}

#profile {
    margin-left: 5%;
}

/**Termina el banner**/
/**Inicia la parte del diseño del contenido**/
.midiv {
    word-wrap: break-word;
    width: auto;
     border: 1px solid #585858;

}
.midiv-gallery{
    word-wrap: break-word;
    width: auto;
     border: 1px solid #585858;
    background-color: #fff;
}
#div-main-border{
      border: 1px solid #585858;
    background-color: #fff;
}

.card {
    -moz-box-shadow: 0 0 2px #fff;
    -webkit-box-shadow: 0 0 2px#fff;
    box-shadow: 0 0 2px #fff;
}

.card img {
     border: 1px solid #585858;
    width: 80px;
    height: 80px;
    margin-top: 30px;
}

.nav-tabs>li>a {
    border: none;
}
.center-block {
   
    width:100%; left:0;
    text-align:center;
    margin:auto;
}
/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 10px 60px 0px 25px;
  margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 140px;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 140px;
      
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 500%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
/**Tamaño de la imagen de la galeria**/
.media-carousel img
{
  width: 200px;
  height: 150px;
    margin-bottom: 35px;
}

.carousel-inner{
   margin-bottom: 0px;
    margin-left: 15px;
}
/*map*/

#map {
    width: 100%;
    height: 200px;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}
#searchInput:focus {
    border-color: #4d90fe;
}

/**Termina la parte del contenido**/
/*Inicia la parte del pie de página"footer"*/

.footer-bottom-layout {
    background: #222222 none repeat scroll 0 0;
    padding: 20px 0;
    text-align: center;
}

.socialMedia-footer {
    margin-bottom: 20px;
}

.socialMedia-footer>a {
    display: inline-block;
    margin: 0 8px;
}

.footer-bottom-layout {
    text-align: center;
}

.footer-top-layout {
    margin-top: 40px;
    background: #FFF none repeat scroll 0 0;
    color: #ffffff;
    padding: 40px 0;
}

.OurBlog {
    margin-bottom: 32px;
    text-align: center;
}

.footer-top-layout h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 21px;
}

.OurBlog>p {
    color: #888888;
}

.post-blog-date::after {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 50px;
}

.post-blog-date {
    padding-bottom: 25px;
    position: relative;
}

.footer-top-layout [class*="col-sm-"]:first-child {
    padding: 0;
}

.footer-top-layout [class*="col-sm-"] {
    border-right: 2px solid #333333;
    padding: 0 0 0 28px;
}

.footer-top-layout {
    color: #ffffff;
}

.footer-col-item {
    min-height: 140px;
}

address {
    color: #545454;
}

.footer-top-layout [class*="col-sm-"]:last-child {
    border-right: medium none;
}

.footer-top-layout {
    color: #070B19;
    border-top: 1px solid #585858;
}

.footer-top-layout h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 21px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0;
}

.footer-col-item .item-contact a {
    color: #545454;
    display: inline-block;
    margin-bottom: 7px;
    width: 100%;
}

.footer-col-item .item-contact a .link-id {
    color: #666666;
    margin-left: 0;
    margin-right: 6px;
}

.footer-col-item span {
    margin-left: 7px;
}

.footer-col-item .item-contact a {
    color: #545454;
}

.footer-top-layout h4 {
    color: #070B19;
    font-size: 18px;
    margin-bottom: 21px;
}
